/* Write your CSS here */
.transation-items-container {
  display: flex;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  border-top: 0;
  padding: 20px;
  overflow-y: auto;
  justify-content: space-between;
}
.title {
  font-size: 15px;
  color: #7e858e;
  font-weight: bold;
  margin-right: 45px;
}
.custom-btn {
  background-color: transparent;
  border-width: 0px;
  outline: none;
  cursor: pointer;
}
.delete-icon {
  width: 20px;
  height: 20px;
}
.list {
  display: flex;
}
